<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="SchoolContext" connectionString="Server=(localdb)\v11.0;Integrated Security=true;AttachDbFilename=|DataDirectory|\MyStudents.mdf;Connect Timeout=30" providerName="System.Data.SqlClient" />
		
	</connectionStrings>
</configuration>